body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    user-select: none;
    -webkit-user-select: none;

    background: #191529;
}

canvas {
    margin: 0;
    padding: 0;
    position: absolute;
}
